name: CI Workflow

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint==2.15.10
          pip install black
          pip install .
      
      - name: Run linting
        run: pylint --fail-under=10 deepface/

  type-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mypy==1.14.1
          pip install .
      
      - name: Run type check
        run: mypy deepface/

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install Werkzeug==2.0.2 flask==2.0.2
          pip install .
      
      - name: Run unit tests
        run: |
          cd tests/unit
          python -m pytest . -s --disable-warnings